{% load static %}

<section class="team-area section-padding40 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Community experts</h2>
                </div>
            </div>
        </div>
        <div class="team-active">
            {% for instructor in instructors %}
            <div class="single-cat text-center">
                <div class="cat-icon">
                    <img src="{% static 'assets/img/gallery/team1.png' %}" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="#">Mr.{{instructor.first_name}}
                            {{instructor.last_name}}</a></h5>
                    {% if instructor.about %}
                    <p>{{instructor.about}}.</p>
                    {% else %}
                    <p>{{instructor.bio}}.</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>